{% load static %}
{% load user_groups %}

<style>
.m-header img {
  width: 140px;
  height: auto;
  max-height: 40px;
  object-fit: contain;
}
</style>

<div class="m-header">
  {% if request.user|has_any_group:'fisioterapeuta,funcionario' %}
    <a href="/enventario/dashboard-fisioterapeuta/" class="b-brand text-primary">
      <img src="{% static 'assets/images/logosfinal.png' %}">
    </a>
  {% else %}
    <a href="/enventario/" class="b-brand text-primary">
      <img src="{% static 'assets/images/logosfinal.png' %}">
    </a>
  {% endif %}
</div>

<div class="navbar-content">
  <ul class="pc-navbar">

    {# Fisioterapeutas e Funcionários: só requisitar #}
    {% if request.user|has_any_group:'fisioterapeuta,funcionario' %}
      <li class="pc-item">
        <a href="/transacao/requisitar/" class="pc-link">
          <span class="pc-micon"><i class="ti ti-arrow-up"></i></span>
          <span class="pc-mtext">Requisição</span>
        </a>
      </li>
    {% endif %}

    {# Admins e superusers: veem tudo #}
    {% if request.user.is_superuser or request.user|has_group:'administrador' %}
      <li class="pc-item">
        <a href="/enventario/" class="pc-link">
          <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
          <span class="pc-mtext">Estoque</span>
        </a>
      </li>
      <li class="pc-item">
        <a href="/enventario/cadastrar-produto/" class="pc-link">
          <span class="pc-micon"><i class="ti ti-plus"></i></span>
          <span class="pc-mtext">Cadastrar Produto</span>
        </a>
      </li>
      <li class="pc-item">
        <a href="/enventario/entrada-estoque/" class="pc-link">
          <span class="pc-micon"><i class="ti ti-arrow-down"></i></span>
          <span class="pc-mtext">Entrada de Estoque</span>
        </a>
      </li>
      <li class="pc-item">
        <a href="/core/fornecedores/" class="pc-link">
          <span class="pc-micon"><i class="ti ti-building"></i></span>
          <span class="pc-mtext">Fornecedores Cadastrados</span>
        </a>
      </li>
      <li class="pc-item">
        <a href="/core/cadastrar-fornecedor/" class="pc-link">
          <span class="pc-micon"><i class="ti ti-building-plus"></i></span>
          <span class="pc-mtext">Cadastrar Fornecedor</span>
        </a>
      </li>
      <li class="pc-item">
        <a href="/transacao/relatorio/" class="pc-link">
          <span class="pc-micon"><i class="ti ti-list"></i></span>
          <span class="pc-mtext">Relatório de Retiradas</span>
        </a>
      </li>
      <li class="pc-item">
        <a href="/enventario/estoque-atual/" class="pc-link">
          <span class="pc-micon"><i class="ti ti-package"></i></span>
          <span class="pc-mtext">Estoque Atual</span>
        </a>
      </li>
      <li class="pc-item">
        <a href="/enventario/produtos/" class="pc-link">
          <span class="pc-micon"><i class="ti ti-box"></i></span>
          <span class="pc-mtext">Produtos Cadastrados</span>
        </a>
      </li>
    {% endif %}
    
  </ul>
</div>
