{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2>Estoque Atual</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Categoria</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Data de Validade</th>
            </tr>
        </thead>
        <tbody>
            {% for item in estoque %}
            <tr>
                <td>{{ item.produto.nome }}</td>
                <td>{{ item.produto.categoria }}</td>
                <td>{{ item.produto.descricao }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.data_de_validade|date:'d/m/Y' }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhum produto no estoque.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
